
.movies{

  width: 100%;
}

.movies__wrapper{

  padding: 85px 0px 50px 0px;
}

.movies__info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}



.movies__info{

  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}


.movies__show-all-saved{

  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #F9F9F9;

  padding: 15px;

  transition: .4s;

  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.movies__show-all-saved:hover{

  opacity: .7;
  cursor: pointer;
}

@media screen and (min-width: 600px){

  .movies__wrapper{

    padding: 80px 30px 60px 30px;
  }
}


@media screen and (min-width: 1150px){

  .movies__wrapper{

    padding: 70px 65px 80px 65px;
  }

}
