.profile-edit-button{

  background-color: transparent;
  border: none;

  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;

  cursor: pointer;
  transition: .5s all;

  padding: 3px 0;
}

.profile-edit-button:hover{

  opacity: 0.6;
  transition: .5s all;
}

